.realMap-train-panel {
  width: 50vh;
  height: 700px;
  outline: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 8px;
  padding: 10px;
  margin-left: 5px;
  background: #111;
  overflow: auto;
}

.realMap-train-panel-head {
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

.realMap-train-panel.line-1 {
  background: var(--line-1);
  color: #000000;
}

.realMap-train-panel.line-3 {
  background: var(--line-3);
  color: #000000;
}

.realMap-train-panel.line-4 {
  background: var(--line-4);
  color: #000000;
}

.realMap-train-panel.line-5 {
  background: var(--line-5);
  color: #000000;
}

.realMap-train-panel.line-6 {
  background: var(--line-6);
  color: #000000;
}

.realMap-train-Panle-line {
  border: none;
  height: 2px;
  background: rgba(255, 255, 255, 0.498);
  backdrop-filter: blur(6px);
  border-radius: 10px;
}

.realMap-train-panel-close-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #333;
  color: white;
  font-size: 15px;
}

.realMap-train-panel-close-btn:hover {
  background: #b74b4b;
}

.realMap-train-panel-h-margim {
  margin-bottom: 2px;
  font-weight: normal;
}

.hidden {
  display: none;
}
