.consists-table {
    border: 1px solid ;
    padding: 8px;
    border-radius: 6px;
}

.consists-line-1 {
    background: #F26178c3;
    color: #000000;
}

.consists-line-3 {
    background: #9A98C8c3;
    color: #000000;
}

.consists-line-4 {
    background: #FFDF7Fc3;
    color: #000000;
}

.consists-line-5 {
    background: #57B6B2c3;
    color: #000000;
}

.consists-line-6 {
    background: #CC5599c3;
    color: #000000;
}

.consists-section {
    padding: 24px 0 48px;
}

.consists-line {
    border: none;
    height: 2px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    border-radius: 10px;
}

.a-schedule-link  {
    color: var(--text);
    text-decoration: none;
    margin-right: 16px;
    opacity: 0.9;
}

.a-schedule-link :hover {
    opacity: 1;
    text-decoration: underline;
}