#realBoard {
  height: 80vh;
  width: 90%;
}

.realBoard {
  position: relative;
  width: min(95vw, 1200px);
  aspect-ratio: 210 / 210;
  background-size: contain;
  outline: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 8px;
  z-index: 1;
}

.station-label {
  font-size: 12px;
  font-weight: 500;
  color: #111;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 4px;
  padding: 2px 6px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.train-pin {
  position: relative;
  width: 30px;
  height: 30px;
  background: #0a689e;
  border-radius: 50% 50% 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* POINTE */
.train-pin::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #0a689e;
}

/* ICÔNE */
.train-pin-icon {
  width: 16px;
  height: 16px;
  filter: invert(1); /* SVG noir → blanc */
}

.realMap-train-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  background: #111;
  color: white;
  padding: 16px;
  z-index: 2000;

  margin-top: 53px;

  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.realMap-train-panel.open {
  transform: translateX(0);
}

.realMap-train-panel-close {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.hidden {
  display: none;
}
